.auth-box-brand
	if Array.isArray(logo)
		a(href='/').auth-box-logo: img(src=logo[0], width=logo[1], height=logo[2], alt=brand)
	else if logo
		a(href='/').auth-box-logo: img(src=logo, alt=brand)
	else
		a(href='/').auth-box-logo: img(src='http://res.cloudinary.com/pe/image/upload/w_205,c_scale,f_auto/v1452775530/general_assets/pe_logo.png', width=205, height=52, alt=brand)
